.DiaryEditor h2 {
  background-color: rgb(253, 253, 165);
  color: rgb(83, 83, 83);
}
.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 200px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
}
.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(202, 202, 199);
  color: rgb(83, 83, 83);
  border: 1px solid rgb(116, 116, 0);
  font-weight: bold;
  border-radius: 1ch;
}
.DiaryEditor div h4 {
  color: rgb(83, 83, 83);
}
